
<h3><strong>Contact</strong>/h3>
    <p>Please reach out to us for any questions or concers regarding any infomation above, involving walter white  or any of the projects listed, Walkter would be happy to speak to you!
        Keep in mind he likes to be called heisenberg by anyone he doesnt not personally know so please keep that in mind or he will throw blue magic crystals at you that explode!
    </p>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your Email </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

    <button type="button" class="btn btn-primary">Submit</button>

  </div>