<!-- your html code here -->
<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <h1>
        This first heading will catch your eye
    </h1>
    <div style="display: flex; align-items: center;">
        <p style="flex: 3;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam labore modi assumenda tempora, velit voluptatibus, ratione sed nam dicta voluptates vitae quia, saepe esse reprehenderit repudiandae quasi dolor cupiditate alias!
        </p>
        <img src="https://i.pinimg.com/564x/7b/3f/cc/7b3fcc19c33d83ea4853efcbb6a172fa.jpg" alt="Walter White" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
    </div>
</div>